
* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1232px;
    margin:  0 auto;
}

.containerCards {
    max-width: 1232px;
    margin:  0 auto;
}

/* ////////////// Header section ///////////////// */

header {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

.flexHeader {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1A1B22;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main { 
    display: flex;
    height: 80px;
    align-items: center;
    margin-right: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.save { 
    display: flex;
    height: 80px;
    align-items: center;
    margin-right: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.menuFlag {   
    border-bottom: solid 2px #1A1B22;
}

.logout {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 48px;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.logout img {
    margin-left: 5px;
}

/* ////////////// INFO section ///////////////// */

.info h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 28px;
}
.info p {
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
}

.info div {
    margin-top: 30px;
    margin-bottom: 56px;
}

/* ////////////// CARD GALLERY section ///////////////// */

.content {
    width: 100%;
    background-color: #F5F6F7;
    padding-top: 62px;
}

.cardFlexContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 62px;
}
 


.card {
    box-sizing: border-box;
    margin: 8px;
    position: relative;
    height: 576px;
    max-width: 400px;
    border-radius: 16px;
    background-color: #fff;

}

.image {
    max-width: 400px;
    max-height: 272px;
    border-radius: 16px 16px 0 0;
}

.cardDate {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 12px;
    margin-left: 24px;
}

.title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}

.tag {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    position: absolute;  
    bottom: 24px;
    left: 24px;
}

.cardFlexContainer .card:nth-child(3) {
    margin-right: 0;
}
.cardFlexContainer .card:nth-child(1) {
    margin-left: 0;
}
.cardFlexContainer .card:nth-child(4) {
    margin-left: 0;
}

/* ////////////// CARD GALLERY ACTIVE BUTTONS ///////////////// */

.activeBtnFlex {
    display:flex;
    justify-content: space-between;
    position: absolute;
    left: 24px;
    top: 24px;
    right: 24px;
}

.keyWord {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 88px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}

.activeBtnFlexInner{
    display: flex;
}

.deleteCard {
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 159px;
    margin-right: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.deleteCardFlag {
    display: flex;
}


.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.trash img {
    height: 24px;
    width: 24px;
}

/* ////////////// FOOTER section ///////////////// */

.footerText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    display: flex;
    align-items: center;
 
}