
* {
    padding: 0;
    margin: 0;
}
.container {
    width: 90vw;
    max-width: 1232px;
    margin:  0 auto;
}
.containerCards {
    width: 90vw;
    max-width: 1232px;
    margin:  0 auto;
}
/* ////////////// Header section ///////////////// */

header {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}
.gridHeader {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: space-between;
    align-items: center; */
}
.logo {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #1A1B22;
}
.menu {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    justify-items: end;
    align-items: center;
}
.main {
    height: 80px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.save {
    height: 80px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.menuFlag {
    border-bottom: solid 2px #1A1B22;
}
.logout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 0.5fr;
    align-items: center;
    background-color: #fff;
    width: 112px;
    height: 48px;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.logout img {
    margin-left: 5px;
}
.hideMobileMenu {
    display: none;
}
/* ////////////// INFO section ///////////////// */
.info h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 28px;
}
.info p {
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
}
.info div {
    margin-top: 30px;
    margin-bottom: 56px;
}
/* ////////////// CARD GALLERY section ///////////////// */
.content {
    width: 100%;
    background-color: #F5F6F7;
    padding-top: 62px;
}
.cardGridContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    grid-gap: 10px;
    justify-items: center;
    padding-bottom: 62px;
}
.card {
    box-sizing: border-box;
    position: relative;
    height: 576px;
    max-width: 400px;
    border-radius: 16px;
    background-color: #fff;

}
.image {
    max-width: 400px;
    max-height: 272px;
    border-radius: 16px 16px 0 0;
}
.cardDate {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin-top: 12px;
    margin-left: 24px;
}
.title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
}
.tag {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
/* ////////////// CARD GALLERY ACTIVE BUTTONS ///////////////// */
.activeBtnGrid {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    position: absolute;
    left: 24px;
    top: 24px;
    right: 24px;
}
.keyWord {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 88px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;

}
.activeBtnGridInner{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
}
.deleteCard {
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 159px;
    margin-right: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #000000;
}
.deleteCardFlag {
    display: block;
}
.trash {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}
.trash img {
    height: 24px;
    width: 24px;
}
/* ////////////// FOOTER section ///////////////// */
.flexFooter {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
}
.footerMenu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
}
.textAndIconsFlex {
        margin-top: 20px;
        height: 80px;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr auto;
}
.mainFooter{
    display: grid;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
    margin-right: 3vw;
}
.yaProfi {
    display: grid;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 30px;
    margin-right: 3vw;
}
.footerText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    display: grid;
    align-items: center;
    width: 30vw;
}
.iconsFooter {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    padding-top: 14px;

}
.icon1 {
    margin-right: 1vw;
}
/* //////////////////////////////////////////////////////////////MOBILE////////////////////////////////////////////////////////////// */
@media (max-width: 550px) {
    * {
        padding: 0;
        margin: 0;
    }
    body {
        width: 100%;
    }
    .container {
        width: 90vw;
        margin:  0 auto;
    }
    .containerCards {
        max-width: 1232px;
        width: 90vw;
        margin:  0 auto;
    }
    /* ////////////// Header section ///////////////// */

    header {
        box-shadow: inset 0px -1px 0px #D1D2D6;
    }
    .gridHeader {
        height: 80px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
    }
    .logo {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        display: grid;
        align-items: center;
        color: #1A1B22;
    }
    .menu {
        display: none;
        justify-content: space-between;
        align-items: center;

    }
    .hideMobileMenu {
        display: block;
    }
    /* ////////////// INFO section ///////////////// */
    .info h1 {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 250%;
        line-height: 46px;
        color: #1A1B22;
        margin-top: 28px;
        width: 100%;
    }
    .info p {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: rgba(26, 27, 34, 0.5);
    }
    .info div {
        margin-top: 30px;
        margin-bottom: 34px;
    }
    /* ////////////// CARD GALLERY section ///////////////// */
    .content {
        width: 100%;
        background-color: #F5F6F7;
        padding-top: 24px;
    }
    .cardGridContainer {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-content: center;
        padding-bottom: 24px;
    }
    .card {
        box-sizing: border-box;
        margin: 5px auto;
        position: relative;
        height: 590px;
        max-width: 400px;
        width: 100%;
        border-radius: 16px;
        background-color: #fff;
    }

    .image {
        max-width: 400px;
        width: 100%;
        max-height: 272px;
        border-radius: 16px 16px 0 0;
    }
    .cardDate {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #B6BCBF;
        margin-top: 12px;
        margin-left: 24px;
    }
    .title {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #1A1B22;
        margin-top: 12px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #1A1B22;
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }
    .tag {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #B6BCBF;
        position: absolute;
        bottom: 24px;
        left: 24px;
    }
    /* ////////////// FOOTER section ///////////////// */
    .flexFooter {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding-top: 24px;
    }
    .textAndIconsFlex {
        margin-top: 20px;
        height: 80px;
        width: 100%;
        display: grid;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mainFooter{
        display: grid;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 30px;
    }
    .yaProfi {
        display: grid;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 30px;
    }
    .footerText {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #B6BCBF;
        display: block;
        grid-row: 2/3;
        padding-bottom: 20px;
        padding-top: 30px;
        width: 100%;
    }
    .iconsFooter {
        display: grid;
        padding-top: 0px;
    }
    .icon1 {
        margin-right: 24px;
    }
    .footerMenu {
        display: block;
    }
}
